---
layout: default
---

<div class="page-content wc-container">
	
	<div class="post">
		<h1>{{ page.title }}</h1>
		<p class="post-meta">
			{% if (page.categories.size > 0 %}
      <span class="categories">
      {{ page.categories | array_to_sentence_string }}
      </span> |
	    {% endif %}
	    <span class="post-date">
    	{{ page.date | date: "%b %-d, %Y" }} 
	    </span>
		</p>		
		<div class="post">
			{{ content }}

			<div class="share-page">
			    Share this on &rarr; 
			    <a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape}}&amp;via={{ site.harmony.social.twitter }}&amp;related={{ site.harmony.social.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
			    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
			    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
			</div>
		</div>
	</div>

	{% if site.related_posts %}
	<div class="related">
		<h4>Related Posts</h2>
		<ul class="posts">
		    {% for post in site.related_posts limit:3 %}
		    <li>
			  <span>{{ post.date | date_to_string }} &raquo;</span>
			  <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
		    </li>
		    {% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="comments">
		{% include disqus.html %}
	</div>

	<div class="post-footer">
		<div class="column-1">
			{% if page.previous %}
				<a href="{{page.previous.url | prepend: site.baseurl | prepend: site.url }}"><< Older</a>
			{% else %}
				<span><< Older</span>
			{% endif %}
		</div>
		<div class="column-2"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }} ">Home</a></div>
		<div class="column-3">
			{% if page.next %}
				<a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">Newer >></a>
			{% else %}
				<span>Newer >></span>
			{% endif %}
		</div>
	</div>
</div>
 
